<section class="card" style="width: 18rem;">
  <img src="/images/{{filename}}" class="card-img-top" alt="product image">
  <div class="card-body">
    <header>{{prod_name}}</header>
    <header>{{prod_description}}</header>
  </div>
</section>