<section class="card" style="width: 18rem;">
  <img src="https://via.placeholder.com/150" class="card-img-top" alt="placeholder profile">
  <div class="card-body">
  <a href="/user/{{id}}">
    <header>{{user_name}}</header>
  </a>
  </div>
</section>