<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {{#each userProfile as |user|}}
            <li class="glide__slide">{{> explore-details}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <center>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fa fa-arrow-circle-o-left" style="font-size:24px"></i></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
            </div>
        </center>
    </div>
</div>
</div>
