  <div class="main">
  <form class="form login-form">
  <h2 class="page-title">Login</h2>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email-login" class="form-control" />
    <label class="form-label" for="email-login">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password-login" class="form-control" />
    <label class="form-label" for="password-login">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="/signup">Register</a></p>
    </div>
</form>
</div>
<script src="./js/login.js"></script>