<div class="main">
<form class="form signup-form">
  <h2 class="page-title">Signup</h2>
  <!-- Username input -->
  <div class="form-outline mb-2">
    <input type="text" id="username-signup" class="form-control" />
    <label class="form-label" for="username-signup">Username</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-2">
    <input type="text" id="email-signup" class="form-control" />
    <label class="form-label" for="email-signup">Email</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-2">
    <input type="password" id="password-signup" class="form-control" />
    <label class="form-label" for="password-signup">Password</label>
  </div>

  <label class="form-check-label">Interests:</label>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="pokemon-checkbox">
  <label class="form-check-label" for="flexCheckDefault">Pokemon</label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="dd-checkbox">
  <label class="form-check-label" for="flexCheckDefault">Dungeons & Dragons</label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="dogs-checkbox">
  <label class="form-check-label" for="flexCheckDefault">Dogs</label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="games-checkbox">
  <label class="form-check-label" for="flexCheckDefault">Games</label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="fashion-checkbox">
  <label class="form-check-label" for="flexCheckDefault">Fashion</label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="comedy-checkbox">
  <label class="form-check-label" for="flexCheckDefault">Comedy</label>
  </div>
  </br>


  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
</form>
</div>
<script src="./js/signup.js"></script>